In [157]:
import pandas as pd
import numpy as np
import datetime as dt

In [92]:
budget_data = pd.read_csv('budget_data.csv', index_col="Date", parse_dates=True)

In [93]:
budget_data['date_observations'] = budget_data.index

In [94]:
budget_data

            Profit/Losses date_observations
Date
2010-01-01         867884        2010-01-01
2010-02-01         984655        2010-02-01
2010-03-01         322013        2010-03-01
2010-04-01         -69417        2010-04-01
2010-05-01         310503        2010-05-01
...                   ...               ...
2016-10-01         102685        2016-10-01
2016-11-01         795914        2016-11-01
2016-12-01          60988        2016-12-01
2017-01-01         138230        2017-01-01
2017-02-01         671099        2017-02-01

[86 rows x 2 columns]

In [118]:
budget_data_copy = budget_data.groupby([budget_data.index.year, budget_data.index.month])

By creating a mutliindex we could easily acess the month data if necessary. Not a requirement just interesting to see.

The date_observations column is again just if required and allows easier access to column dates

In [119]:
budget_data_copy = budget_data_copy.first()

In [120]:
budget_data_copy['%change_in_pl'] = budget_data_copy['Profit/Losses'].pct_change()

In [121]:
budget_data_copy.index.names = ['Year','Month']

In [122]:
budget_data_copy

            Profit/Losses date_observations  %change_in_pl
Year Month
2010 1             867884        2010-01-01            NaN
     2             984655        2010-02-01       0.134547
     3             322013        2010-03-01      -0.672969
     4             -69417        2010-04-01      -1.215572
     5             310503        2010-05-01      -5.473011
...                   ...               ...            ...
2016 10            102685        2016-10-01      -0.866374
     11            795914        2016-11-01       6.751025
     12             60988        2016-12-01      -0.923374
2017 1             138230        2017-01-01       1.266511
     2             671099        2017-02-01       3.854945

[86 rows x 3 columns]

The use of .shift() with the positional arguments of 1, helps us look back one observation to efficiently calculate the change in Profit and Loss

In [123]:
budget_data_copy['$change_in_pl'] = budget_data_copy['Profit/Losses'] - budget_data_copy['Profit/Losses'].shift(1)

In [124]:
budget_data_copy

            Profit/Losses date_observations  %change_in_pl  $change_in_pl
Year Month
2010 1             867884        2010-01-01            NaN            NaN
     2             984655        2010-02-01       0.134547       116771.0
     3             322013        2010-03-01      -0.672969      -662642.0
     4             -69417        2010-04-01      -1.215572      -391430.0
     5             310503        2010-05-01      -5.473011       379920.0
...                   ...               ...            ...            ...
2016 10            102685        2016-10-01      -0.866374      -665765.0
     11            795914        2016-11-01       6.751025       693229.0
     12             60988        2016-12-01      -0.923374      -734926.0
2017 1             138230        2017-01-01       1.266511        77242.0
     2             671099        2017-02-01       3.854945       532869.0

[86 rows x 4 columns]

In [125]:
number_of_months = (budget_data_copy.groupby(level='Month').size()).sum()

In [126]:
number_of_months

86

In [127]:
total_profit_and_loss = budget_data_copy['Profit/Losses'].sum()

In [128]:
total_profit_and_loss

38382578

In [129]:
average_profit_and_loss = budget_data_copy['Profit/Losses'].mean()

In [130]:
average_profit_and_loss

446309.0465116279

In [131]:
average_dollar_p_l_change = budget_data_copy['$change_in_pl'].mean()

In [132]:
average_dollar_p_l_change

-2315.1176470588234

The use of idxmax() and idxmin() returns to us the data at the position where the max and min values are respectively found

In [137]:
max_p_l = budget_data_copy['Profit/Losses'].max()
max_p_l_date = budget_data_copy['Profit/Losses'].idxmax()

In [138]:
max_p_l

1170593

In [139]:
max_p_l_date

(2012, 2)

In [180]:
max_increase_in_p_l = budget_data_copy['$change_in_pl'].max()
max_increase_date = budget_data_copy['$change_in_pl'].idxmax()
max_increase_date = dt.date(year=max_increase_date[0], month=max_increase_date[1], day=1)
max_increase_date = max_increase_date.strftime("%b/%Y")

In [181]:
max_increase_in_p_l

1926159.0

In [182]:
max_increase_date

'Feb/2012'

In [174]:
min_p_l = budget_data_copy['Profit/Losses'].min()
min_p_l_date = budget_data_copy['Profit/Losses'].idxmin()

In [175]:
min_p_l

-1196225

In [178]:
min_change_in_p_l = budget_data_copy['$change_in_pl'].min()
min_change_date = budget_data_copy['$change_in_pl'].idxmin()
min_change_date = dt.date(year=min_change_date[0], month=min_change_date[1], day=1)
min_change_date = min_change_date.strftime("%b/%Y")

In [155]:
min_change_in_p_l

-2196167.0

In [179]:
min_change_date

'Sep/2013'

In [193]:
print("Total Months: "+str(number_of_months))
print("----------------------------------------------------------")
print("Total Profit and Loss: "+str('${:,.2f}'.format(total_profit_and_loss)))
print("----------------------------------------------------------")
print("Average Change in Profit and Loss: "+str('${:.2f}'.format(average_dollar_p_l_change)))
print("----------------------------------------------------------")
print("Greatest Increase in Profits: "+str('${:,.2f}'.format(max_increase_in_p_l))+ " on "+max_increase_date)
print("----------------------------------------------------------")
print("Greatest Decrease in Profit: "+str('${:,.2f}'.format(min_change_in_p_l))+ " on "+min_change_date)

Total Months: 86
----------------------------------------------------------
Total Profit and Loss: $38,382,578.00
----------------------------------------------------------
Average Change in Profit and Loss: $-2315.12
----------------------------------------------------------
Greatest Increase in Profits: $1,926,159.00 on Feb/2012
----------------------------------------------------------
Greatest Decrease in Profit: $-2,196,167.00 on Sep/2013